<h1>Motivational posters</h1>

<section>
	<h2>Step1. Select an image</h2>
	<p>Enter the search term to see images</p>
	<input id="search-term" type="text">
	<button id="go-search">Go!</button>
	<div id="search-results"></div>
<section>

<section>
	<h2>Step 2. Add Text</h2>
</section>

<section>
	<h2>Step 3. Style it!</h2>
</section>

<section>
	<h2>Step 4. See the image</h2>
</section>

