<h1>Motivational posters</h1>

<section>
	<h2>Step 1. Select an image</h2>
	<p>Enter the search term to see images</p>
	<input id="search-term" type="text">
	<button id="go-search">Go!</button>
	<div id="search-results"></div>
	<div id="branding"></div>
<section>

<section>
	<h2>Step 2. Add Text</h2>
	<input id="text" type="text" value="Curiosity is one of the great secrets of happiness">	
</section>

<section>
	<h2>Step 3. Style it!</h2>
	<div id="workspace">
		<p id="caption"></p>
	</div>
	Left: <input type="number" value="10" id="left">
	Top: <input type="number" value="10" id="top">
	Width: <input type="number" value="400" id="width">	
	Size: <input type="number" value="32" id="size">
	Colour: <select id="colour">
    				<option>red</option>
    				<option>green</option>
    				<option>white</option>
    				<option>black</option>
    				<option>blue</option>
    				<option>yellow</option>
    				<option>gray</option>
    				<option>orange</option>
    			</select>
	Align:  <select id="align">
    				<option>left</option>
    				<option>right</option>
    				<option>center</option>
    			</select>
</section>

<section>
	<h2>Step 4. Share it!</h2>
</section>

