<html>
<head>
	<title>Motivational Posters</title>
	<link href="/css/application.css" rel="stylesheet" type="text/css">	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/javascript/support.js"></script>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/javascript/application.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>