#workspace {
	position: relative;
}

#workspace img {
	width: 600px;
}

#caption {
	position: absolute;
	overflow: hidden;
	text-align: left;
	margin: 0;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 0 5px rgba(0,0,0,0.4) ;
}

input[type="number"] {
	width: 50px;
}